body {
    background-image: url('Images/background0.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

canvas {
    border: 2px solid #fff;
    background-color: #333;
    width: 90vw;
    height: 80vh;
    max-width: 800px;
    max-height: 600px;
    display: none;
}

#gameContainer {
    text-align: center;
}

#startButton, #restartButton {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#startButton {
    background-color: #28a745;
}

#startButton:hover {
    background-color: #218838;
}

#restartButton {
    display: none;
    background-color: #ff6347;
}

#restartButton:hover {
    background-color: #ff4500;
}

#gameOverText {
    display: none;
    color: #ff6347;
    font-size: 50px;
    margin-top: 20px;
}
